@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

@font-face {
    font-family: 'Playfair Display';
    src: url(../fonts/PlayfairDisplay/PlayfairDisplay-Bold.ttf) format(truetype);
}

h1 {
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;
    margin: 0;

    @media (min-width: 1200px) {
        font-size: 45px;
        line-height: 48px;
    }
}

p,
strong,
span,
.btn {
    font-family: 'Lato';
    font-size: 15px;
    line-height: 24px;
    margin: 24px 0;
    opacity: .87;

    @media (min-width: 1200px) {
        font-size: 16px;
    }
}

strong {
    font-size: 17px;
    font-weight: 700;
}

.btn {
    text-transform: uppercase;
    text-decoration: none;
    color: #FFF;
    background: #000;
    margin-right: 20px;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to top right, #fdfbfb, #ebedee);
    min-height: 100vh;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    padding: 0 20px;

    // SM
    @media (min-width: 576px) {
        width: 540px;
    }

    // MD
    @media (min-width: 768px) {
        width: 720px;
    }

    // LG
    @media (min-width: 992px) {
        width: 960px;
    }

    // XL
    @media (min-width: 1200px) {
        width: 1140px;
    }
}

.cookiebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    background: white;
    transition: all .15s ease-in-out;

    .cookiebar__content {
        padding: 10px 15px;

        strong {
            font-size: 15px;
        }

        span {
            font-size: 14px;
        }
    }

    .btn {
        font-size: 12px;
        padding: 5px 10px;
        transition: all .10s ease-in-out;

        &:hover {
            opacity: .5;
        }
    }

    &.closed {
        transform: translateY(100%);
    }
}